*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 70px;

    
}
.container1{
    border: 0px solid;
    width: 100%;
    margin: 0px auto;
    position: relative;
}
body{
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.casCont{
    display: flex;
    justify-content:center ;
    align-items: center;
}

.whyImage .uno{
    display: flex;
    justify-content: center;
    align-items: center;
}

.whyImage .uno img{
    width: 90%;
    border: 1px dashed #17b895;
    /* height: 70vh; */
}
.whyImage .thress{
  display: none;
}

@media (max-width:1099px) and (min-width: 300px ){
    .whyImage .thress{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .whyImage .thress img{  
        display: block;
        width: 90%;
        border: 1px dashed #17b895;
    }

    .whyImage .uno{
        display: none;
      }
}